.ProductList .Product {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.ProductList {
  display: flex;
  width: 100%;
}
.ProductList .Product img {
  border: solid yellow;
  margin: 5px;
} 