.ProductList .Product {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  text-align: center;
  border: solid rgb(211, 210, 210);
  border-radius: 5%;
  margin: 3px;
  padding: 12px;
}
.ProductList .Product:hover {
  background-color: rgba(233, 233, 233, 0.602)
}
.ProductList {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.ProductList .Product img {
  max-width: 190px;
  height: 190px;
}
.ProductList .Product a {
  color: black;
}
.ProductList .Product a:hover {
  color: rgb(83, 198, 187);
}
@media (max-width: 550px) {
  .ProductList {
    display: block;
    width: 100%;
  }
}