.ProductList .Product {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  text-align: center;
  border: solid rgb(200, 196, 196);
  border-radius: 5%;
  margin: 3px;
}
.ProductList {
  display: flex;
  width: 100%;
}
.ProductList .Product img {
  max-width: 190px;
  height: 190px;
}
.ProductList .Product a {
  color: black;
}
.ProductList .Product a:hover {
  color: rgb(83, 198, 187);
}
