.CartList .CartItem {
  display: flex;
  align-items: center;
  padding: 15px;
  border: solid;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 30px;
  justify-content: space-between;
}
.CartList .CartItem img {
  width: 100px;
}
.CartList input {
  width: 30px;
  margin-right: 10px;
}
.CartList a {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.CartList span {
  padding-right: 10px;
}
@media (max-width: 550px) {
  .CartList .CartItem {
    display: block;
    flex-direction: column;
    max-width: 200px;
  }
}