.layout {
  display:grid;
  grid-template-areas: "header header"
  "aside main"
  "footer footer";
  grid-template-columns: 1fr 3fr;

  max-width: 789px;
  margin: 0 auto;
}
.layout header {
  grid-area: header;
}
.layout aside {
  grid-area: aside;
}
.layout main {
  grid-area: main;
}
.layout footer {
  grid-area: footer;
}
.layout .pholodilnik {
  max-width: 100px;
}
header {
  display: flex;
  max-width: 100%;
}
aside {
  height:  380px;
}
p {
  text-align: center;
}