h1, h2, h3 {
  text-align: center;
}
.CategoryList ul {
  padding: 10px;
}
.CategoryList ul li {
  margin-top: 10px;
  display: block;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
}
.CategoryList ul li a {
  color: rgb(0, 0, 0);
}