.Nav .NavItem a {
color: rgb(0, 0, 0);
}
.dsp {
  display: flex;
 }
.Nav .dsp li {
  padding-left: 10px;
  list-style-type: none;
}
 a {
  text-decoration: none;
} 
li {
  list-style-type: none;
}
.menu__item {
  font-size: 20px;
  padding: 10px;
}