.Nav {
  width: 60%;
}
.Nav ul {
  padding-top: 40px;
  padding-left: 100px; 
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.Nav .NavItem a {
color: rgb(0, 0, 0);
}
 a {
  text-decoration: none;
} 
li {
  list-style-type: none;
}
.ds {
  display: flex;
}
.menu__item {
  font-size: 20px;
  padding: 6px 10px 10px 10px;
  margin-left: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.menu__item:hover {
  transform: translateY(1px);
  filter: saturate(150%);
}
.menu__item:hover,
.menu__item:focus {
  border-color: currentColor;
  background-color: rgb(83, 198, 187);
}
@media (max-width: 550px) {
  .Nav ul {
    flex-direction: column;
    margin: 1rem 0;
  }
  .NavItem {
    padding-top: 20px;
    }
    .NavLink {
      border-bottom: solid rgb(83, 198, 187);
    }
    .ds {
      display: block;
    }
}