.Auth {
  padding: 12px 0 0 0;
  
}
.Auth span {
  display: block;
}
.Auth .button__Auth {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: inline-block;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;  
  text-decoration: none;
  box-shadow: 0 9px #999;
  white-space: nowrap;
}
.Auth .button__Auth:hover {
  background-color: rgb(83, 198, 187);
  color: rgb(255, 255, 255);
}
.Auth .button__Auth:active {
  background-color: rgb(222, 222, 222);
  box-shadow: 0 5px #e6e6e6;
  transform: translateY(4px);
}
.Auth span h3 {
  text-align: center;
}
.Auth span .ta {
  text-align: center;
}